<script>
    var config = {
    apiKey: "AIzaSyA2nhYiAg4J-N-EgEeQU25kJ8yonDMR_F8",
    authDomain: "resumebuilder-e2b17.firebaseapp.com",
    databaseURL: "https://resumebuilder-e2b17-default-rtdb.firebaseio.com/",
    };
    
    
    firebase.initializeApp(config);
    const auth=firebase.auth();
    const db=firebase.database();
    
    
    var user = firebase.auth().currentUser;
    if (user) {
    } else {
        document.location.href="{% url 'selecttemp' %}";
    }
    </script>





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

     <!--animation css-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

     <!--font awesome*-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/page1.css">
    <script src="../static/JS/homepage.js"></script>
    <style>
        body{
            background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
            overflow-x: hidden;
            height: 100vh;
        }
        input{
            height: 40px;
            background: #D3D3D3;
            width: 35%;
            border: none;
            outline: none;
            border-radius: 60px;
        }
        input:focus{
            background: white;
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: groove;
            border-color: rgb(252, 81, 110);
            border-radius: 0px;
        }
        h1{
            font-size: 20%;
        }
    </style>
</head>

                    <body>
                    
                        <!--

                            <div>
                            {{n1}}
                            {{n2}}
                            {{n3}}
                            {{n4}}
                            {{n5}}
                            {{n6}}
                            {{n7}}
                            {{n8}}
                            {{n9}}
                            {{n10}}
                        </div>

                    -->

                    
                        <div id="main">
                            <div id="div1">
                                <h1 class="fs-1 animate__animated animate__backInRight text-center pt-3">Personal Details</h1><br>
                            </div>
                            <div id="div2">
                                <form action="" method="post">
                                     {% csrf_token %}
                                    <div id="div3" class="div">
                                        <input type="text" required name="first1" id="first_name" placeholder="First Name*">
                                        <input type="text" required placeholder="Last Name*" name="first2">
                                    </div>
                                    <div id="div4" class="div">
                                        <input type="email" required placeholder="Email*" name="first3">
                                        <input type="text" id="number" placeholder="Phone Number*" pattern="[1-9]{1}[0-9]{9}" required name="first4">  
                                    </div>
                                    <div id="div5" class="div">
                                        <input type="text" placeholder="Your Website" name="first5">
                                        <input type="text" placeholder="Github" name="first6">
                                    </div>
                                    <div id="div6" class="div">
                                        <input type="text" placeholder="Linked In" name="first7">
                                        <input type="text" placeholder="Twitter" name="first8">
                                    </div>
                                    <div id="div3" class="div">
                                        <input type="text" placeholder="Facebook" name="first9">
                                        <input type="text" placeholder="Instagram" name="first10">
                                    </div>
                                
                            </div>
                            <hr>
                            <div id="div7">
                                <a href="{% url 'homepage1' %}" class="btn" id="btn1">&lt;   Prev</a>
                                <button type="submit" class="btn">Next   &gt;</button>            
                            </div>
                            <p>Page 1/5</p>
                        </form>
                        </div>
                    
                    
                    
                    
                   

</body>
</html>

